<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
<title>Title</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="www/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="www/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="www/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="www/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="www/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="www/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="www/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="www/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="www/assets/css/style.css" rel="stylesheet">
    <link href="www/assets/css/style-custom.css" rel="stylesheet">
    <link id="color-scheme" href="www/assets/css/colors/default.css" rel="stylesheet">
    <!--Modules CSS-->
    <link rel="stylesheet" href="www/modules/topics_graph/css/style.css"> 
    

</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
<div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="www/assets/images/wei_image/wei_logo4.svg" width="120" style="margin-top:-10px"></a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#totop">Home</a></li>
              <li><a class="section-scroll" href="#stat">Stats</a></li>
              <li><a class="section-scroll" href="#new">New</a></li>
              <li><a class="section-scroll" href="#second">Second-hand</a></li>
              <li><a class="section-scroll" href="#summary">Summary</a></li>
              <!--li><a class="section-scroll" href="#project">Project</a></li-->
              <!--li><a class="section-scroll" href="#contact">Contact</a></li-->
            </ul>
          </div>
        </div>
      </nav>
      <section class="home-section home-full-height bg-dark bg-gradient" id="home" data-background="www/assets/images/wei_image/big_city.jpg">
        <div class="titan-caption">
          <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Analysing of the house price</div>
            <div class="font-alt mb-40 titan-title-size-4">Nanjing, Jiangsu, China</div><a class="section-scroll btn btn-border-w btn-round" href="#stat">Learn More</a>
          </div>
        </div>
      </section>
      <div class="main">
        <section class="module" id="stat" style="background-color:#D1FFCC;">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Stats</h2>
                <div class="module-subtitle font-serif">
                   {{ last_refresh }} 
                </div>
              </div>
            </div>
            <div class="row multi-columns-row">
              <div class="col-sm-6 col-md-3 col-lg-3">
                {{ new_house }} 
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
              {{ new_house_price }}
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                {{ second_house }}
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                {{ second_house_price }}
              </div>
            </div>
          </div>
        </section>
        <section class="module bg-dark-60" id="new">
          <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">New House</h2>
                <!--h4>(first sale)</h4-->
                <div class="module-subtitle font-serif">
                </div>
              </div>
            </div>
            {{ stat_new_house }}
          </div>
        </section>
        
        <section class="module pb-0" style="background-color:#CCFFFF;" id="tag">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Tags Analysis</h2>
              </div>
            </div>
          {{ tag_new_house }} 
          </div>
        </section>
        <section class="module-small bg-dark-60", id = "second">
          <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Second-hand</h2>
                <!--h4>(pre-owned house)</h4-->
                <div class="module-subtitle font-serif">
                  
                </div>
              </div>
            </div>
            
            {{ stat_second_house }}

          </div>
        </section>

        <section class="module pb-0" style="background-color:#CCFFFF;" id="tag1">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Tags Analysis</h2>
              </div>
            </div>
          {{ tag_second_house }} 
          </div>
        </section>
        
        <section class="module-small" id="summary" style="background-color:#99CCFF;">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">About the Project</h2>
                <div class="module-subtitle font-serif">
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <div class="post">
                  <div class="post-header font-alt">
                    <h1 class="post-title">Analysing of house price of Nanjing</h1>
                  </div>
                  <div class="post-entry">
                    <p>
                      The inspiration of this app is from <a href "https://github.com/nz-stefan"> Stefan</a>,
                      his app about <a href="https://nz-stefan.shinyapps.io/blog-explorer/#project">R blog exploring</a> is really amazing and impresive. Base on the networks structure, we would like to create something of our own, and it happens that we were researching price data of real estate.</p>
                      
                      <p>
                      In general, house price is a very common topic among Chinese people, you can hear things about houses almost every day, but most of the time, opinions from others are actually not truth, only data can tell you something new. Here we use python crawler to collect data from online website of house agencies, and visualization of the summarizing data is based on <a href="https://echarts4r.john-coene.com/articles/grid.html">echarts4r</a>. The initial and simple goal of this app is to offer some insight view for the people who is insterested or is planning to buy a real estate but with little knowledge about the business, and we hope the data we prepared will help you to have a basic concept about the house price.     
                    </p>
                    
                    <h4 class="font-alt">Where is the data source?</h4>
                    <p>
                      The data is scraped from web pages of house agencies like <a href="lianjia.com">Lianjia</a> and <a href="https://nanjing.anjuke.com/">Anjuke</a>. Basicly, the house type is splited into new house and second house, for example, there are about 900 new house and 90000+ second house on trading market, we scraped their data in different way, cause their online available information is slightly different. 
                    </p>
                    <p>
                      About the graph and data in this app, there is something that need to know, 
                    </p>
                    
                    <ol>
                      <li>Currently, the data is from Lianjia, which offers more feasible information than Anjuke, but later we may offer an option for user to pick data source.</li>
                      <li>Actually only 100 pages of web can scraped from the web, which means only 3000 of the house info records in each district, statisticly it is enough to represent the whole sample.</li>
                      <li>The data will be updated weekly since it is first online.</li>
                    </ol>

                    <p>
                      If you are interested in original data, please send a request to our email(w4356y@163.com).
                    </p>

                    <h4 class="font-alt">What we can see from the data?</h4>
                    <p>
                      Based on the data and graph in this page, we can conclude some points, for new house, 
                    </p>
                    <ul>
                    <li>新楼盘中秦淮区价格最高，均价达38300元/平米;</li>
                    <li>新楼盘可分为3级，第一级包括秦淮，玄武，建邺和鼓楼四区，均价36000+，新房源较少;第二级包括雨花台，栖霞，浦口和江宁四区，均价24000~30000之间，房源充足;第三级为其他区域，均价15000以下，房源供应偏少；</li>
                    <p>
                      <a href="www/assets/images/wei_image/tier_loupan.png">
                        <img src="www/assets/images/wei_image/tier_loupan.png" widh="100%" />
                      </a>
                    </p>
                    <li>新楼盘住宅和在售占比均超过50%;</li>
                    <li>新楼盘中环线房，现房，公交直达和地铁沿线是最常见标签;</li>
                    </ul>
                      
                    <p>
                       For second-hand house, 
                    </p>
                    <ul>
                    <li>鼓楼和建邺区的二手房价最高，40000左右;</li>
                    <li>江宁和浦口的二手房房源最多;</li>
                    <li>鼓楼、建邺、玄武和秦淮二手房价处于第一梯队，均价超过30000;栖霞、雨花台、江宁和浦口处于第二梯队，房价再20000~30000之间;六合、溧水和高淳处于第三等级，二手房均价17000以下；</li>
                    <li>二手房中，3室2厅和2室1厅的房源最多;</li>
                    <li>85~90平的房源最多，而90平以下房源中,60~70平的房源最多;</li>
                    <li>二手房源中，05年到17年建的房子较多;</li>
                    <li>二手房源中，建造时间越早，价格越高，可能和地理位置和学区有关;</li>
                    <li>大部分人关注20000~35000之间二手房;</li>
                    <li>二手房上线时间越久，价格越低，刚上线5~30天的房源关注人数最多;</li>
                    </ul>
                    
                    <p>
                      Overall, We are very happy with these results. In fact, we think they are quite astonishing. If you need more data or other analysis, please contact us via email.
                    </p>
                    
                  </div>
                </div>
              </div>
              
              <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
                <div class="widget">
                  <h5 class="widget-title font-alt">Views & Policies</h5>
                  <p>
                    I personally is a perssimist on house price in the future, if you want to have a house, find the people you love and you are willing to spend rest of your time with first. And remember, you only live once.
                  </p>
                  <p>
                    Here are the links about policies,
                  </p>
                  <ul>
                  <li><a href="http://fcj.nanjing.gov.cn/"><font color="FF00CC">南京住房保障和房产局</font></a></li>
                  <li><a href="https://zhuanlan.zhihu.com/p/143956999"><font color="FF00CC">南京购房证明开具</font></a></li>
                  <li><a href="https://zhuanlan.zhihu.com/p/134078834"><font color="FF00CC">南京购房条件</font></a></li>
                  <li><a href="http://rcaj.nanjing.gov.cn/zhzbweb/views/modules/rcaj/template.html?url=/zhzbweb/rcaj/tRcajZcfg&id=d00e7972a59947c791fcde9fcc59e780"><font color="FF00CC">南京人才购房政策</font></a></li>
                  </ul>
                </div>
                <div class="widget">
                  <h5 class="widget-title font-alt">Code</h5>
                  <p>Open Source and available on <a href="https://github.com/w4356y/realEstate">GitHub</a></p>
                </div>
              </div>
            </div>
          </div>
        </section>
         <section class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="widget">
                  <h5 class="widget-title font-alt">Developed By</h5>
                  <p>
                    Wei Jiang, Ways Data Studio<br>
                    Nanjing, China
                  </p>
                  <p>
                    <a href="https://twitter.com/w4356y/"><i class="fa fa-twitter" style="font-size:20px; padding-right:15px"></i></a>
                    <a href="https://github.com/w4356y/"><i class="fa fa-github" style="font-size:20px; padding-right:25px"></i></a>
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget">
                  <h5 class="widget-title font-alt">About the developer</h5>
                  <p>
                    E-mail: w4356y@163.com<br>
                    Phone: (+86) 15011008186<br>
                    Git: https://github.com/w4356y
                  </p>
                  <p>
                    Check out the <a href="https://w4356y.wixsite.com/home">Ways Data Studio</a> for more information.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>  
        
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <p class="copyright font-alt">Ways Data Studio, 2020</p>
              </div>
              <!--div class="col-sm-6">
                <div class="footer-social-links"><a href="https://www.linkedin.com/in/sschliebs/"><i class="fa fa-linkedin"></i></a><a href="https://github.com/nz-stefan/"><i class="fa fa-github"></i></a>
                </div>
              </div-->
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
        
</main>
</body>
<!--  
    JavaScripts
    =============================================
    -->
    <!--script src="assets/lib/jquery/dist/jquery.js"></script-->
    <!--script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script-->
    <script src="www/assets/lib/wow/dist/wow.js"></script>
    <script src="www/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="www/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="www/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="www/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="www/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="www/assets/lib/smoothscroll.js"></script>
    <script src="www/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="www/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="www/assets/js/plugins.js"></script>
    <script src="www/assets/js/main.js"></script>
</html>
